[Desktop Entry]
Type=Application
Name=____cli_name____
Exec=____cli_name____
Comment=CLI-of Outscale Granting Net Accessible Calls
Categories=Development;Network;
Terminal=true
Icon=appimage-logo