name: tests
on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]
jobs:
  auto-build:
    environment: auto-build
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: install dependancies
      run: |
        sudo apt-get update --fix-missing
        sudo apt-get install -y -f -o Acquire::Retries=3 jq libjson-c-dev libcurl4-openssl-dev pkg-config
    - name: Build and test
      run: |
        CFLAGS="-fsanitize=address -O0 -g" make
        make oapi-cli-x86_64.AppImage
        make tests
      env:
        OSC_ACCESS_KEY: ${{secrets.OSC_ACCESS_KEY}}
        OSC_SECRET_KEY: ${{secrets.OSC_SECRET_KEY}}
        OSC_REGION: ${{secrets.OSC_REGION}}
